<main class="container">

  <h1>ToDo Dashboard</h1>

  <%= turbo_frame_tag "new_todo_list_form" do %>
    <%= link_to "New List", new_todo_list_path, class: "btn btn--primary" %>
  <% end %>

  <div id="todo_lists">
    <%= turbo_frame_tag "todo_lists_index" do %>
      <%= render @todo_lists %>
    <% end %>
  </div>
</main>
