<main class="container">
  <%= link_to sanitize("&larr; Back"), todo_lists_path %>

  <div class="header">
    <h1>New ToDo list</h1>
  </div>

  <%= turbo_frame_tag "new_todo_list_form" do %>
    <%= render "form", todo_list: @todo_list %>
  <% end %>

</main>
